<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="js/upload.js"></script>
    <title>upload employee</title>
</head>
<body>
    <div class="container">
        <div class="container-fluid">
            <div class="page-header">
                <h3 th:utext="${title}"></h3>
                <div class="alert alert-danger"><p>sorry.. upload file failed !</p></div>
                <div class="alert alert-success"><p>upload file successfully !</p></div>
                <hr/>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" id="name"/>
                    </div>
                    <div class="form-group">
                        <label>Designation</label>
                        <input type="text" class="form-control" name="designation" id="designation"/>
                    </div>
                    <form id="fileUploadForm">
                        <div class="form-group">
                            <label>Upload Image</label>
                            <input type="file" class="form-control" name="file"/>
                        </div>
                    </form>
                <div class="form-group">
                    <button type="button" class="btn btn-primary"
                            id="submitButton">Save</button>
                </div>
            </div>
            <hr/>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Images</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Images</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>
</html>